.searchMenu {
	position: absolute;
	inline-size: 100%;
	block-size: 100vh;
	background: var(--blue);
	z-index: 1;
	box-sizing: border-box;
	left: -100%;
	transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-ms-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	z-index: 2;
}

.searchMenu.is-open {
	left: 0;
}

.searchMenu-close {
	border: none;
	block-size: 14px;
	inline-size: 14px;
	padding: 0;
	background: transparent;
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

.searchMenu-close i {
	color: var(--gray20);
	font-size: 0.875rem;
}

@media screen and (min-width: 1000px) {
	.searchMenu {
		padding-inline-end: 46px;
		padding-inline-start: 46px;
	}
}
