.buttonMenu {
	font: var(--normal);
	color: var(--gray20);
	background: var(--gray);
	padding-block-end: 0.6875rem;
	padding-block-start: 0.6875rem;
	padding-inline-end: 1.125rem;
	padding-inline-start: 1.125rem;
	border: none;
}

.buttonIcon {
	block-size: 40px;
	inline-size: 40px;
	background: var(--gray);
	border: none;
	color: var(--gray20);
	font-size: 22px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.buttonIcon i {
	position: relative;
	top: 2px;
}

.buttonSearch {
	background: var(--purple);
	border: none;
	font: var(--button);
	color: var(--gray20);
	padding-inline-end: 1rem;
	padding-inline-start: 1rem;
	padding-block-end: 0.875rem;
	padding-block-start: 0.875rem;
}

[class^='button'] {
	cursor: pointer;
}

[class^='button']:active {
	transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
}

@media screen and (min-width: 1000px) {
	.buttonSearch {
		flex: 1;
	}
}
