@media screen and (min-width: 800px) {
	.layout {
		display: grid;
		grid-template-columns: 460px 1fr;
		min-block-size: 100vh;
	}

	.layout-main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(869px, 1fr) 141px;
		grid-template-areas:
			'main  '
			'footer';
	}

	.main-content {
		margin-inline-end: auto;
		margin-inline-start: auto;
		max-inline-size: 704px;
	}

	.footer {
		align-self: end;
	}
}
