.optionsList {
	display: flex;
	flex-direction: column;
	margin-block-start: 2.375rem;
	gap: 1.625rem;
	max-block-size: calc(100vh - 11.25rem);
	overflow-y: auto;
}

.optionsList-option {
	border: 1px solid var(--blue);
	background: transparent;
	padding-block-end: 1.375rem;
	padding-block-start: 1.375rem;
	padding-inline-start: 0.75rem;
	padding-inline-end: 0.625rem;
	display: flex;
	justify-content: space-between;
	color: var(--gray20);
	transition: border 0.3s;
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-ms-transition: border 0.3s;
	-o-transition: border 0.3s;
	cursor: pointer;
}

.optionsList-option i {
	opacity: 0;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
}

.optionsList-option:hover {
	border-color: var(--gray30);
}

.optionsList-option:hover i {
	opacity: 1;
}

.optionsList::-webkit-scrollbar {
	block-size: 0.5rem;
	inline-size: 0.5rem;
	cursor: pointer;
}

.optionsList::-webkit-scrollbar-thumb {
	background: var(--bg);
	border-radius: 1.5625rem;
}

.optionsList::-webkit-scrollbar-track {
	background: rgba(16, 14, 29, 0.4);
	border-radius: 1.5625rem;
}
