.wrapper {
	padding-inline-end: 1.5rem;
	padding-inline-start: 1.5rem;
	padding-block-end: 1.5rem;
	padding-block-start: 3.25rem;
}

@media screen and (min-width: 1000px) {
	.wrapper {
		padding: 0;
		padding-inline-start: 2rem;
		padding-inline-end: 2rem;
	}
}
